<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% extends "./base.html" %}

{% block title %} {{ post.title }} {% endblock %}

{% block main %}
    <hr>
    {% if post %}
    <h1>{{ post.title }}</h1>
    <div>
        <span>作者：{{ post.owner.username }}</span>
        <br></br>
        <span>分类：{{ post.category.name }}</span>
    </div>
    </hr>
    <p>
    <h2>正文内容</h2>
        {{ post.content }}
    </p>
    {% endif %}
{% endblock %}
</body>
</html>